fetch-retries=10
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=300000
fetch-timeout=600000
registry=https://registry.npmjs.org/
cypress_download_mirror=https://cdn.cypress.io/desktop
cypress_download_path_template={{version}}/{{platform}}/{{arch}}/cypress.zip
